.boxes-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    font-family: 'Coolvetica', Arial, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 400px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
    margin: 20px;
    margin-top: 100px;
    flex: 0 0 45%;
    /* width of the box */
    max-width: 45%;
    min-width: 300px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.5);
    animation: glow 3s ease infinite;
    overflow-wrap: break-word;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.logo {
    width: 10%;
    height: 10%;
    margin-top: 10px;
    margin-left: 88%;
}

.image-container {
    position: relative;
    width: 460px;
    height: 460px;
    margin: 20px 0;
}

.image {
    max-width: 96px;
    border-radius: 50%;
    margin-top: 20%;
    margin-left: 40%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.5);
    animation: glow 3s ease-in-out infinite;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px 7px rgba(118, 118, 242, 0.2);
    }

    50% {
        box-shadow: 0 0 15px 10px rgba(106, 106, 245, 0.6);
    }

    100% {
        box-shadow: 0 0 10px 7px rgba(118, 118, 242, 0.2);
    }
}

.user-text {
    color: white;
    text-align: center;
    white-space: normal;
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid rgba(0, 0, 255, 0.5);
    border-radius: 20px;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
}

.button:hover {
    opacity: 0.2;
    box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.5);
}